body, html {
    margin: 0;
    padding: 0;
}

.left-panel {
    background-color: #c5f1c5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.icon-list li {
    padding-left: 1.5rem;
    position: relative;
}
.icon-list i {
    position: absolute;
    left: 0;
    top: 0.25rem;
}


.right-panel {
    min-height: 100vh;
    background-image: url('../image/tree.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 0 !important;
}

.login-page .container-fluid {
    position: relative;
}

.login-page .container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    clip-path: polygon(58.3% 0, 70% 0, 58.3% 100%, 50% 100%);
    background: #c5f1c5;
    pointer-events: none;
}


/*profile css*/
.bg-success {
    background-color: #006600 !important; /* Dark green header */
}

.profile-icon {
    font-size: 24px;
    font-weight: bold;
}

.profile-container {
    background-color: #e6ffe6; /* Light green for the profile container */
    border: 1px solid #004d00; /* Dark green border */
}

.btn-success {
    background-color: #006600; /* Dark green buttons */
    border-color: #004d00;
}

.btn-success:hover {
    background-color: #004d00; /* Darker green on hover */
    border-color: #003300;
}

h1, h2 {
    color: #004d00; /* Dark green for headings */
}