Django==5.1.6
qrcode==8.0
pillow==10.4.0

# Celery and Celery beat needed for scheduling background tasks to run on certain days, such 
# as the leaderboard reward system that rewards players for being in top 10 each Saturday 
pip install celery
pip install django-celery-beat

## Setting up Redis for Celery to run ##

# If the deployment server is Windows-based, install and start Redis using WSL
wsl --install -d Ubuntu  # Install Ubuntu on WSL (if not already installed)
wsl                      # Launch WSL
sudo apt update && sudo apt install redis-server -y
sudo service redis-server start

# If the deployment server is Linux-based, install and start Redis normally
sudo apt update && sudo apt install redis-server -y
sudo systemctl enable redis
sudo systemctl start redis

# If Redis is already installed, start it manually
redis-server

# needed to make tasks work on schedule
celery -A sustainableCampus worker --loglevel=info
celery -A sustainableCampus beat --loglevel=info