<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width.device-width, initial-scale=1">
    <title>Geolocation Test Page</title>
    <link rel="stylesheet" href="node_modules/ol/ol.css">
    <style>
        .map {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body>
    <button id="find-loc">Find Location</button>

    <p id="status"></p>
    <a id="map-view" target="_blank"></a>

    <div id="map" class="map"></div>
    <div id="info" style="display: none;"></div>
    <label for="track">
        Tick to enable location tracking
        <input id="track" type="checkbox"/> <!-- if this is checked, user's location will be tracked -->
    </label>
    <p>
        position accuracy : <code id="accuracy"></code>&nbsp;&nbsp;
        altitude : <code id="altitude"></code>&nbsp;&nbsp;
        altitude accuracy : <code id="altitudeAccuracy"></code>&nbsp;&nbsp;
        heading : <code id="heading"></code>&nbsp;&nbsp;
        speed : <code id="speed"></code>
    </p>

    <script type="module" src="geolocSystem.js"></script>
</body>
</html>