{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sustainable Campus</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
  <div class="navbar">
    <!-- Logo of university -->
    <div>
      <a href=""><img src="" alt="University of Exeter"></a>
      <p>University of Exeter</p>
    </div>
    <!-- Navigation bar -->
    <ul class="navbar-links">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Suggestions</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <h1>Suggestions</h1>
  <p>Placeholder test</p>
</body>
</html>
