
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Sustainable Campus</title>
    <link rel="stylesheet" href="/static/css/suggestions.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
  <div class="navbar">
    <!-- Logo of university -->
    <div>
      <a href="https://www.exeter.ac.uk/"><img src="" alt="University of Exeter"></a>
      <p>University of Exeter</p>
    </div>
    <!-- Navigation bar -->
    <ul class="navbar-links">
      <li><a href="../">Home</a></li>
      <li><a href="../forest">My forest</a></li>
      <li><a href="../shop/">Shop</a></li>
      <li><a href="../announcements/">Announcements</a></li>
      <li><a href="">Suggestion box</a></li>
    </ul>
    <!-- profile -->
    <div>
      <a href=""><img src="" alt="Profile"></a>
      <p>Profile</p>
    </div>
  </div>
    <!-- Suggestion form is too far down -->
  <div>
    <form class="suggestion-form">
      <p class="warning">Before you want to send a suggestion, please check the FAQs</p>
      <h2>Suggestion: </h2>
      <textarea class="suggestion-input" id="suggestion-input" placeholder="Type your suggestion..." name="suggestion" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
      
      <div class="suggestion-form-buttons">
        <label for="category">Category:</label>
        <select id="category" name="category">
          <option disabled selected hidden> Suggestion category</option>
          <option value="location">Add a location</option>
          <option value="bug">Bug report</option>
          <option value="other">Other</option>
        </select>
        <input type="submit" value="Submit">
      </div> 
    </form>
  </div>

  <!-- Only questions are visible, answers will be shown on click-->
  <div class="faq-section">
    <h2>FAQs</h2>

    <div class="faq-item">
      <button class="faq-question">
        How do I get items?
        <span class="faq-icon">+</span>
      </button>
      <div class="faq-answer">
        <p>Visiting different markers on the map will let you collect different recyclables which, when enough are collected, can be used to make items to help grow your forest.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">
        Question 2
        <span class="faq-icon">+</span>
      </button>
      <div class="faq-answer">
        <p>Answer 2</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">
        Question 3
        <span class="faq-icon">+</span>
      </button>
      <div class="faq-answer">
        <p>Answer 3</p>
      </div>
    </div>
  </div>
</body>
</html>

<div class="contact">
  <p>Need to contact us?</p>
  <p>Email: sustainablecampusteam@gmail.com</p>
</div>
