<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>View Suggestions</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% include 'navbar.html' %}

<div class="container mt-4">
    <h2>Submitted Suggestions</h2>

    <div class="list-group">
        {% for suggestion in suggestions %}
        <div class="list-group-item mb-3">
            <!--                <div class="d-flex justify-content-between">-->
            <!--                    <h5>{{ suggestion.user.username }}</h5>-->
            <!--                    <small class="text-muted">{{ suggestion.created_at }}</small>-->
            <!--                </div>-->
            <div class="d-flex justify-content-between align-items-center">
                <h5>{{ suggestion.user.username }}</h5>
                <div class="d-flex align-items-center">
                    <small class="text-muted me-2">{{ suggestion.created_at }}</small>
                    {% if request.user == suggestion.user or request.user.is_superuser %}
                    <form action="{% url 'delete_suggestion' suggestion.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure to delete this suggestion?')">
                            <i class="lni lni-trash">Delete</i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>

            <div class="mt-2">
                <span class="badge bg-primary">{{ suggestion.get_category_display }}</span>
                <p class="mt-2">{{ suggestion.content }}</p>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info">No suggestions submitted yet.</div>
        {% endfor %}
    </div>
</div>

<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
