{% extends 'accounts/profile.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Change Password</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'accounts:change_password' %}" method="post" class="row g-3">
            {% csrf_token %}

            <div class="col-12">
                <label for="old-password" class="form-label">Old password</label>
                <input type="password" class="form-control" id="old-password" name="old_password" required>
                {% if form.old_password.errors %}
                    <div class="alert alert-danger">{{ form.old_password.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="col-12">
                <label for="new-password1" class="form-label">New password</label>
                <input type="password" class="form-control" id="new-password1" name="new_password1" required>
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger">{{ form.new_password1.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="col-12">
                <label for="new-password2" class="form-label">Confirm new password</label>
                <input type="password" class="form-control" id="new-password2" name="new_password2" required>
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger">{{ form.new_password2.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-success">Change password</button>
            </div>
        </form>
    </div>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector("form").addEventListener("submit", function (event) {
                var password1 = document.getElementById("new-password1").value;
                var password2 = document.getElementById("new-password2").value;
                var errorContainer = document.getElementById("password-error");

                if (password1 !== password2) {
                    event.preventDefault();
                    errorContainer.innerHTML = "<div class='alert alert-danger'>Passwords do not match!</div>";
                }
            });
        });
    </script>
    <div id="password-error"></div>

{% endblock %}
