<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | Exeter Sustainable Game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="login-container">
    <h2>Sign Up</h2>
        <form method="POST">
            {% csrf_token %}

            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>

            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" required>

            <label for="id_first_name">First Name:</label>
            <input type="text" name="first_name" id="id_first_name" required>

            <label for="id_last_name">Last Name:</label>
            <input type="text" name="last_name" id="id_last_name" required>

            <label for="id_password1">Password:</label>
            <input type="password" name="password1" id="id_password1" required>

            <label for="id_password2">Confirm Password:</label>
            <input type="password" name="password2" id="id_password2" required>

            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href={% url 'login' %}>Log in</a></p>
    </div>
</body>
</html>
