<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | Exeter Sustainable Game</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="left-panel">
    <h2>Sign Up</h2>
    <div class="mt-0">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="first_name" placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Confirm Password">
            </div>
            <div class="d-grid">
                <a href="{% url 'signup' %}" class="btn btn-outline-success w-100">Sign up</a>
            </div>
        </form>
        <p>Already have an account? <a href={% url 'login' %}>Log in</a></p>
    </div>
</div>
</body>
</html>
