{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Sustainable Campus</title>
</head>
<body>
    <a href="{% url 'shop:purchased_items'%}">Your Purchased Items</a>

    <p>Your Balance: {{user_balance.currency }} currency</p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{% if message.tags %} {% endif %}{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="shop-container">
        {% for item in items %}
        <div class="shop-item">
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
            <div class="shop-item-content">
                <h2>{{ item.name }}</h2>
                <p>{{ item.description }}</p>
                <p>Cost: {{ item.currency_cost }} currency</p>
                <a href="{% url 'shop:buy_shop_item' item_id=item.item_id %}">Buy</a>
            </div>
        </div>
        {% empty %}
        <p>No items available.</p>
        {% endfor %}
    </div>
</body>
</html>