<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Sustainable Campus</title>
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />




</head>

<body>
    {% include 'navbar.html' %}

    <div class="container py-5">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h1 class="h3 mb-0">Daily</h1>

          
        </div>
    </div>


<form method="POST" action="{% url 'dailyQuiz:submit_quiz' %}">
    {% csrf_token %}
    {% for question in questions %}
        <p>{{ question.question }}</p>
        
        <input type="radio" name="{{ question.id }}" value="option_a"> {{ question.option_a }}<br>
        <input type="radio" name="{{ question.id }}" value="option_b"> {{ question.option_b }}<br>
        <input type="radio" name="{{ question.id }}" value="option_c"> {{ question.option_c }}<br>
        <input type="radio" name="{{ question.id }}" value="option_d"> {{ question.option_d }}<br>
        <br>
    {% endfor %}
    
    <button type="submit" class="btn btn-outline-success p-2 lh-1 d-flex align-items-center">Submit Quiz</button>
</form>

</body>