<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard | Exeter Sustainable Game</title>
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .first-place {
            color: gold !important;
            font-weight: bold;
        }
        .second-place {
            color: silver !important;
            font-weight: bold;
        }
        .third-place {
            color: brown !important;
            font-weight: bold;
        }
    </style>
</head>
<body class="bg-light">
    {% include 'navbar.html' %}
    
    <div class="container my-5">
        <h2 class="text-center mb-4 display-4 text-success">Leaderboard for Tree Game</h2>

        <div class="table-responsive rounded-3 shadow">
            <table class="table table-striped table-hover table-borderless mb-0">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Username</th>
                        <th scope="col">Trees Grown</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in top_players %}
                        {% if player.user_id == user_score.user_id %}
                            <tr class="table-info">
                                {% if forloop.counter == 1 %}
                                    <td class="first-place">{{ forloop.counter }}</td>
                                {% elif forloop.counter == 2 %}
                                    <td class="second-place">{{ forloop.counter }}</td>
                                {% elif forloop.counter == 3 %}
                                    <td class="third-place">{{ forloop.counter }}</td>
                                {% else %}
                                    <td>{{ forloop.counter }}</td>
                                {% endif %}
                                <td>{{ player.user.username }}</td>
                                <td>{{ player.score }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                {% if forloop.counter == 1 %}
                                    <td class="first-place">{{ forloop.counter }}</td>
                                {% elif forloop.counter == 2 %}
                                    <td class="second-place">{{ forloop.counter }}</td>
                                {% elif forloop.counter == 3 %}
                                    <td class="third-place">{{ forloop.counter }}</td>
                                {% else %}
                                    <td>{{ forloop.counter }}</td>
                                {% endif %}
                                <td>{{ player.user.username }}</td>
                                <td>{{ player.score }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if user_score.score < top_players.9.score %}
                        <tr class="table-info">
                            <td>{{ user_rank }}</td>
                            <td>{{ user_score.user.username }}</td>
                            <td>{{ user_score.score }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
