:root {
    --forest-cols: 1;
    --forest-rows: 1;
}

#forest-view {
    min-height: 89vh;
    height: 100%;
}

#forest-container {
    position: absolute;
    min-width: 20%;
    width: 20%;
    max-width: 50%;
    aspect-ratio: 1/1;
    top: 20%;
    left: 40%;
    background-color: aliceblue;
    align-content: center;
}

#forest-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--forest-rows), 1fr);
    grid-template-columns: repeat(var(--forest-cols), 1fr);
    rotate: 45deg;
    justify-content: center;
    aspect-ratio: 1/1;

}

#forest-background {
    position: absolute;
    height: 60%;
    left: 0;
    right: 0;
    max-width: 28%;
    min-width: 28%;
    margin-inline: auto; 
    width: fit-content;
    
    text-align: center;
    background: #0dac07;
    bottom: 0;
}

#button-container {
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: auto; 
    width: 100%;
    background: #d0e0e4;
}

.grid-item {
    padding: 1em;
    border: 1px solid #0f0
}

