:root {
    --forest-cols: 1;
    --forest-rows: 1;
}

#forest-view {
    min-height: 89vh;
    height: 100%;
}

#forest-grid {
    position: relative;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--forest-rows), 1fr);
    grid-template-columns: repeat(var(--forest-cols), 1fr);
    rotate: 45deg;
    justify-content: center;
    aspect-ratio: 1/1;
    transform: rotate(-67.5deg) skewX(45deg) scaleY(cos(45deg));
    max-height: 100%;
    max-width: 100%;
    top: -20px;
    margin: auto;
}

#forest-background {
    position: absolute;
    width: 80%;
    height: 75%;
    max-width: 80vh;
    min-height: 60vh;

    text-align: center;
    top: 120px;
    left: 0;
    right: 0;
    margin-inline: auto;
}

#forest-background-left {
    position: absolute;
    top: min(27%, max(18vw, 12.5vh));
    left: 0;
    width: 50%;
    min-height: 73%;
    max-height: 81%;
    height: 85%;
    background-color: #167813;
}

#forest-background-right {
    position: absolute;
    top: min(27%, max(18vw, 12vh));
    right: 0;
    width: 50%;
    min-height: 73%;
    max-height: 81%;
    height: 85%;
    background-color: #096506;
}

#button-container {
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #d0e0e4;
}

#selected-plant-image {
    width: 75%;
    aspect-ratio: 1/1;
    margin: auto;
}

#forest-floor-texture {
    position: relative;
    background-color: #1da124;
    rotate: 45deg;
    justify-content: center;
    transform: rotate(-67.5deg) skewX(45deg) scaleY(cos(45deg));
    width: 108%;
    aspect-ratio: 1/1;
    top: -9%;
    left: -4%;
    margin: auto;
}

.forest-container {
    position: absolute;
    width: 50%;
    max-width: 90vw;
    max-height: 40vh;
    min-height: 30vh;
    aspect-ratio: 1/1;
    top: 0;
    left: 25%;
    align-content: center;
    justify-content: center;
}

.forest-floor {
    position: relative;
    left: -50%;
    top: -20px;
    width: 200%;
    aspect-ratio: 5/2;
    margin: auto;
}

.grid-container {
    position: relative;
    display: grid;
    grid-gap: 2%;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-height: 100%;
    width: 100%;
    top: 2px;
    margin: auto;
    color: green;
}

.grid-item {
    padding: 1em;
    border: 1px solid #0f0;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.plant-image {
    height: 50%;
    width: 20%;
    position:absolute;
}

.close-popup {
    cursor: pointer;
    color: red;
    height: 100%; 
    aspect-ratio: 1/1; 
    text-align: center;
}
    
.data-container {
    display: none;
}

@media (prefers-reduced-motion: no-preference) {

    .forest-popup {
        display: none;
        position: fixed;
        bottom: 100px;
        right: 5px;
        height: 70%;
        width: 25%;
        min-width: 200px;
        max-width: 50vw;
        background-color: #f1f1f1;
        border-radius: 10px;

        animation: popup-enter 0.5s;
    }

    .button-popup {
        display: none;
        position: fixed;
        bottom: 100px;
        left: 5px;
        height: 70%;
        width: 25%;
        min-width: 200px;
        max-width: 50vw;
        background-color: #f1f1f1;
        border-radius: 10px;

        animation: popup-enter 0.5s;
    }

    #recycling-popup {
        display: none;
        position: fixed;
        bottom: 100px;
        left: 10%;
        height: 80%;
        width: 80%;
        background-color: #f1f1f1;
        border-radius: 10px;

        animation: recycling-enter 0.5s;
    }
}

@keyframes popup-enter {
    0% {
        transform: scale(1, 0);
    }
}

@keyframes popup-exit {
    100% {
        transform: scale(1, 0);
    }
}

@keyframes recycling-enter {
    0% {
        transform: scale(0, 0);
    }
}

@keyframes recycling-exit {
    100% {
        transform: scale(0, 0);
    }
}

#recycling-button {
    cursor: pointer;
    background-color: #0f0;
    top: 5%;
    height: 100%;
    width: 10%;
    border-radius: 10%;
}