:root {
    --forest-cols: 1;
    --forest-rows: 1;
}

#forest-view {
    min-height: 89vh;
    height: 100%;
}

#forest-container {
    position: absolute;
    width: 30%;
    max-width: 80vw;
    max-height: 50vh;
    aspect-ratio: 1/1;
    bottom: 20vh;
    left: 35%;
    background-color: aliceblue;
    align-content: center;
}

#forest-grid {
    position: relative;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--forest-rows), 1fr);
    grid-template-columns: repeat(var(--forest-cols), 1fr);
    rotate: 45deg;
    justify-content: center;
    aspect-ratio: 1/1;
    transform: rotate(-67.5deg) skewX(45deg) scaleY(cos(45deg));
    max-height: 100%;
    max-width: 100%;
    bottom: 0;
    
}

#forest-background {
    position: absolute;
    height: 70%;
    left: 0;
    right: 0;
    width: 100%;
    
    text-align: center;
    background: #0dac07;
    bottom: 0;

    border-radius: 100% / 20%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

#button-container {
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: auto; 
    width: 100%;
    background: #d0e0e4;
}

.grid-item {
    padding: 1em;
    border: 1px solid #0f0
}

