<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Sustainable Campus</title>
    <link rel="stylesheet" href="/static/css/forest.css" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static '/bootstrap/css/bootstrap.min.css' %}"
    />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}  


      <div id="forest-view" style="position: relative; background: #48c2e0">
        <div id="forest-background">
          
          <div id="forest-background-left"></div>
          <div id="forest-background-right"></div>
          

          
          <div id="forest-container">
            <div id="forest-floor"></div>
          </div>
          <div id="forest-container">
            <div id="forest-grid"></div>
          </div>
          
        </div>
        
        

        <!-- Buttons -->

          <div id="button-container" class="w-100 d-flex gap-2">
            <button type="button" class="btn btn-primary btn-lg flex-fill">Plant a tree</button>
            <button type="button" class="btn btn-primary btn-lg flex-fill">Customise</button>
            <button type="button" class="btn btn-primary btn-lg flex-fill">...</button>
          </div>

        
      </div>
    

    <!-- Bootstrap JS -->
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- forest js files -->
    <script type="module" src="{% static '/js/forestDisplay.js' %}"></script>
  </body>
</html>
