<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width.device-width, initial-scale=1">
    <title>Geolocation Test Page</title>
    <link rel="stylesheet" href="node_modules/ol/ol.css">
    <style>
        .map {
            position: relative;
            top: 0;
            bottom: 0;
            width: 600px;
            height: 600px;
        }
    </style>
</head>
<body>
    <script type="importmap">
        {
          "imports": {
            "rbush": "./node_modules/rbush/index.js",
            "quickselect": "./node_modules/quickselect/index.js",
            "color-rgba": "./node_modules/color-rgba/index.js",
            "color-space/lchuv.js": "./node_modules/color-space/lchuv.js",
            "color-space/rgb.js": "./node_modules/color-space/rgb.js",
            "color-space/rgba.js": "./node_modules/color-space/rgba.js",
            "color-space/lchuv.js": "./node_modules/color-space/lchuv.js",
            "color-space/xyz.js": "./node_modules/color-space/xyz.js",
            "color-parse": "./node_modules/color-parse/index.js",
            "color-space/hsl.js": "./node_modules/color-space/hsl.js",
            "color-name": "./node_modules/color-name/index.js"
            }
        }
   </script>

    <button id="find-loc">Find Location</button>

    <p id="status"></p>
    <a id="map-view" target="_blank"></a>

    <div id="map" class="map"></div>
    <div id="info" style="display: none;"></div>
    <label for="track">
        Tick to enable location tracking
        <input id="track" type="checkbox"/> <!-- if this is checked, user's location will be tracked -->
    </label>
    <p>
        position accuracy : <code id="accuracy"></code>&nbsp;&nbsp;
        altitude : <code id="altitude"></code>&nbsp;&nbsp;
        altitude accuracy : <code id="altitudeAccuracy"></code>&nbsp;&nbsp;
        heading : <code id="heading"></code>&nbsp;&nbsp;
        speed : <code id="speed"></code>
    </p>

    <!-- TODO: Need to add input validation to the below -->
    <div id="add-marker">
        <form name="marker-details" id="add-marker-form" action="" method="POST">
            <label for="xcoord">X Coordinate:</label>
            <input
                    type="text"
                    name="xcoord"
                    id="xcoord"
                    placeholder="X coordinate"
                    required
                    size="16"
                    maxlength="16"/>
            <label for="ycoord">Y Coordinate:</label>
            <input
                    type="text"
                    name="ycoord"
                    id="ycoord"
                    placeholder="Y coordinate"
                    required
                    size="16"
                    maxlength="16" />
            <label for="shape">Shape:</label>
            <select name="shape" id="shape">
                <option value="circle">Circle</option>
                <option value="square">Square</option>
                <option value="triangle">Triangle</option>
            </select>
            <label for="color">Colour:</label>
            <select name="color" id="color">
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
            </select>
            <button type="submit" id="create-marker">Create Marker</button>
        </form>
    </div>

    <script type="module" src="geolocSystem.js" defer></script>
</body>
</html>